<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/custom.css">
    <title>Document</title>
  </head>
  <body>
    <div class="jumbotron mybg">
      <div class="container">
        <h1><%= hello %></h1>
        <small class="text-muted">Designed by Salaam</small>
      </div>
    </div>
    <div class="container">
      <div class="card mb-3" ">
        <div class="row no-gutters">
          
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">
                The purpose of this is to demonstrate the control of an electrical appliance from a smartphone or a PC.
              </p>
              
            </div>
          </div>
          <div class="col-sm-4 myCenter">
            <button type="button" class="btn btn-primary">ON</button>
            <button type="button" class="btn btn-secondary">OFF</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
